<div class="myhome col-sm-12 col-md-12 col-lg-12">
    <div class="home-bg">
        <h1>WELCOME TO THE</h1>
        <h2>WEBISTE</h2>
    </div>
</div>



<!-- card hover  -->

<div class="main">
<div class="container">

<div class="row pt-2">
    <h1 class="text-white">OUR SPECIALTY</h1>
</div>

<div class="row">

<div class="col-sm-12 col-md-6 col-lg-3">
<div class="car">
        <div class="face face1">
            <div class="content">
                <img src="\assets\html-5-badge.png" alt="logo1">
                <h3>HTML</h3>
            </div>
        </div>
            <div class="face face2">
                <div class="content">
                <p>Hypertext Markup Language is the standard markup language for documents designed to be displayed in a web browser.
                </p>
                <a href="#">Read More</a>
            </div>
        </div>
</div>
</div>

<div class="col-sm-12 col-md-6 col-lg-3">
<div class="car">
    <div class="face face1">
        <div class="content">
            <img src="\assets\css.png" alt="logo2">
            <h3>CSS</h3>
        </div>
    </div>
        <div class="face face2">
            <div class="content">
            <p>Cascading Style Sheets, fondly referred to as CSS, is a simple design language intended to simplify the process of making web pages
            </p>
            <a href="#">Read More</a>
        </div>
    </div>
</div>
</div>

<div class="col-sm-12 col-md-6 col-lg-3">
<div class="car">
    <div class="face face1">
        <div class="content">
            <img src="\assets\bootstrapping.png" alt="logo3">
            <h3>BOOTSTRAP</h3>
        </div>
    </div>
        <div class="face face2">
            <div class="content">
            <p>Bootstrap is a most popular front end framework in the recent time. It is sleek, intuitive, and powerful.
            </p>
            <a href="#">Read More</a>
        </div>
    </div>
</div>
</div>

<div class="col-sm-12 col-md-6 col-lg-3">
        <div class="car">
            <div class="face face1">
                <div class="content">
                    <img src="\assets\javascript.png" alt="logo4">
                    <h3>JAVASCRIPT</h3>
                </div>
            </div>
                <div class="face face2">
                    <div class="content">
                    <p>JavaScript is a lightweight, interpreted programming language. It is designed for creating network-centric applications.
                    </p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
</div>

</div>

<div class="row">
    <h3 class="text-white">FULL MEAN STACK COURSES</h3>
</div>

<div class="row">

        <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="car">
                <div class="face face1">
                    <div class="content">
                        <img src="\assets\letter-a.png" alt="logo5">
                        <h3>ANGULAR</h3>
                    </div>
                </div>
                    <div class="face face2">
                        <div class="content">
                        <p>Angular 8 is a client-side TypeScript based framework which is used to create dynamic web applications.
                        </p>
                        <a href="#">Read More</a>
                    </div>
                </div>
        </div>
        </div>
        
        <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="car">
            <div class="face face1">
                <div class="content">
                    <img src="\assets\nodejs.png" alt="logo6">
                    <h3>NODE.JS</h3>
                </div>
            </div>
                <div class="face face2">
                    <div class="content">
                    <p>Node.js is a server-side platform built on Google Chrome's JavaScript Engine (V8 Engine). Node.js was developed by Ryan Dahl in 2009
                    </p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
        </div>
        
        <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="car">
            <div class="face face1">
                <div class="content">
                    <img src="\assets\server.png" alt="logo7">
                    <h3>EXPRESS.JS</h3>
                </div>
            </div>
                <div class="face face2">
                    <div class="content">
                    <p>ExpressJS is a web application framework that provides you with a simple API to build websites, web apps and back ends. 
                    </p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="car">
                    <div class="face face1">
                        <div class="content">
                            <img src="\assets\database.png" alt="logo8">
                            <h3>MONGO DB</h3>
                        </div>
                    </div>
                        <div class="face face2">
                            <div class="content">
                            <p>MongoDB is an open-source document database and leading NoSQL database. MongoDB is written in C++.
                            </p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
        </div>
        
        
        
</div>

</div>
</div>






<!-- card hover x -->


<!-- footer start here -->

<div class="footer">
    <div class="container">
        <div class="row">
        <div class="col-sm-12 col-md-4">
        <div class="about-us">
            <h2>NAV MENU</h2>
            <!-- <ul>
                <li><a routerLink="home">HOME</a></li>
                <li><a routerLink="login">LOGIN</a></li>
                <li><a routerLink="aboutpro">ABOUT US</a></li>
                <li><a routerLink="contact">CONTACT US</a></li>
            </ul> -->
            <ul class="navbar-nav">
                    <li class="nav-item"><a routerLink="home" class="nav-link">HOME</a></li>
                    <li class="nav-item"><a routerLink="login" class="nav-link">LOGIN</a></li>
                    <li class="nav-item"><a routerLink="aboutpro" class="nav-link">ABOUT US</a></li>
                    <li class="nav-item"><a routerLink="contact" class="nav-link">CONTACT US</a></li>
            </ul>
        </div>
        </div>

        <div class="col-sm-12 col-md-4">
        <div class="updates">
            <h2>JOIN US</h2>
            <p>To join us, pls subscribe</p>
            <div class="form-group">
                <input type="text" placeholder="Email"><span><i class="fas fa-chevron-right"></i></span>
            </div>
        </div>
        </div>
        <!-- <div class="instagram">
            <h2>instagram</h2>
        </div> -->

        <div class="col-sm-12 col-md-4">
        <div class="follow">
            <h2>FOLLOW US</h2>
            <p>let us be social</p>
            <div>
                <li><a href="#">instagram</a></li>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>facebook</a></li>
            </div>
        </div>
        </div>
    </div>
    </div>

    <div class="rights flex-row">
        <h4 class="text-gray text-center pb-2">    
        Copyright © 2019 All rights reserved.
        </h4>
    </div>
    <div class="up">
        <span></span>
    </div>
</div>



<!-- footer ends here -->